
  .cardst {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: minmax(100px, 1fr);
    gap: 10px;
  }
  
  .cardt {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
  }
  
  .cardt:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .containert {
    padding: 2px 16px;
  }
  
  .card_imgt {
    width: 10vw;
  }
  
  #toggle{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border: none;
    padding: 8px;
    font-size: 20px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    font-family: cursive;
    box-sizing: border-box;
  }
  
       .Headert h1{
        font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #F0F8FF, #F0FFFF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
      }
      
      
      /* Style for the rectangle heading container */
      .rectangle-heading {
          background-color: #0077b6; /* Background color for the rectangle */
          color: #ffffff; /* Text color */
          padding: 30px; /* Adjust the padding to your liking */
          text-align: center; /* Center-align the text */
      }
      
      /* Style for the heading text */
      .rectangle-heading h1 {
          margin: 0; /* Remove default margin */
      }
      #tanchor { 
      text-decoration: none;
      color: gray;
      padding:150px 100px;
      }
      .homet{
        background-color: gainsboro; /* Background color for the rectangle */
          color: #ffffff; /* Text color */
          padding: 10px; /* Adjust the padding to your liking */
          text-align: center; /* Center-align the text */
      }