body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
}

.text-center {
  height: 100%;
}

/*******************Login*******************/
.text-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
  margin-bottom: -1px;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*******************************Header******************************/

.header{
  margin-top: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
}
.header-image{
  margin:2px 20px;
  width:60px;

}
.header-dropdown{

  display: inline-block;
  
  margin-right: 20px;

}
.teacher{
  display: inline-block;
  color: black;
}
.header-links{
  color: black;
  display: inline-block;
  position:relative;
  left: 900px;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown_item {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 100%;
font-size: 10px;
}

.dropdown_item a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-bottom:1px solid white;
}

.dropdown:hover .dropdown_item {
  display: block;
}

.dropdown_item a:hover {
   background-color: #f8f8ff
  }
  hr.line1 {
    border-color: black;
    margin-bottom: 0;
  }
  /* slider */
  .slider{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel{
    
     width: 1000px;   
  }
  .carousel-item{
    float:none; 
    transition: 0.5s !important;
    overflow: hidden;
}


  
  /********************Home.js******************/

  .container{
    display: block;
  }

  h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #hoverbtn{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }


    button.newbtn{
      justify-items: center;
      font-size: 15px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin: 30px;
      height: 30px;
      width: 300px;
      border-radius: 50px;
      border: 2px solid #e02d05;
      color: rgb(255, 255, 255);
      background-color: #db130f;

    }
    button.newbtn:hover{
      cursor: pointer;
      transform: scale(1.25);
      background-color: #0a0000;
      color: #f5f5f5;
    }

    
       /* Card ****************************************************/
.first-txt {
  margin-top: 40px;
  padding-right: 100px;
  width: 400px;
  color: #f8f8ff;
  
}

.first-para{
  position: absolute;
  top: 80px;
  left: 27px;
  width: 200px;
}
.card-btn{
  position: absolute;
  bottom: 30px;
  left:100px;
  background-color:grey;
  color: black;
  size: 3px;
}


/* .form-inline{
  position:relative;
  left: 1400px;
} */
.login{
  padding-top:10px;
  padding-bottom:5px;
}

  .icon-size{
    margin-left: 200px;
    font-size: 50px;
  }


  .carousel-inner{
    height: 100% !important;
    width:  100% !important;
    border: 1px solid black;
    
}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px;
}
.first-txt{
  font-size: 22px;
  text-align: center;
 
}
.flip-card .card-btn{
  padding: 5px 3px;
  font-size: medium;
}
.flip-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card  .card-img{

  border-radius: 10px 10px;
}

@media only screen and (max-width: 800px){

  .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 200px;
  perspective: 1000px;
  margin: 30px 20px 0px 20px;
  border-radius: 10px 10px;
}




.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px 10px;
  
}
/******/


.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {

  background-color: #e7bc2e;
  color: white;
  text-align: center;
  transform: rotateY(180deg);

}
.techer{
  position: relative;
  display: inline-block;
}
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
} 

/****************footer******************/
.footer-div{

  display: block;
}
.footer-img-div{
  text-align: center;
  margin-bottom: 50px;
}
.footer{
  padding-top:10px;
  margin-top: 30px;
}
.linehr{
  width: 60%;
  margin-left: 250px;
  }
  .paraf{
    text-align: center;
  }

 

/*********new navbar****************/
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 20px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 35px;
  width: 200px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 5px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 10px;
  color: #fff;
  font-size: 15px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
 /*************Domain****************/
 .btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}
section.bg{
background-color: #e52e0a;
}
.dmbtn{
background-color: #ff3d00;
  color: #f5f5f5;
  border: black;
  border-radius: 5px;
  font-size: small;
}

.dmbtn:hover{
  cursor: pointer;
  background-color: #0a0000;
}

Section div.container{
 
  height: 300px;
  width: 1000px;
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .headdomain{
  color: rgb(241, 244, 247, 1);
}



/* Boxes */
.dbox .card{

  width: 15rem;
  height: 10rem;
}
.dbox .card .card-body{
  
  height: 3rem;
  
 
}
.dbox .cardbtn{
  position: absolute;
  bottom: 13px;
  background-color: #ff3d00;
  color: #f5f5f5;
  border: black;
  border-radius: 5px;
  font-size: small;
  padding: 6px 5px;
}

.dbox.cardbtn:hover{
cursor: pointer;
background-color: #0a0000;
}
.dbox{
  margin-top: 10px;
  margin-bottom: 10px;
}





